.end {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: #d3e4f2;
  transition: opacity ease 0.5s;

  .container {
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__title {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
  }

  &__button {
    padding: 15px 10px;
    border: none;
    width: 205px;
    background: #e8bfbf;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
  }

  &--hidden {
    opacity: 0;
  }

  &--disable {
    display: none;
  }
}
