html,
body {
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  background: #d3e4f2;
}

* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  padding: 45px 15px;
  background: #dcf2d3;
}

.scroll-hidden {
  overflow-y: hidden;
}
