.question {
  display: flex;
  flex-direction: column;
  $link: &;

  &__item {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__option {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }

  &__input {
    margin-right: 5px;
    display: none;

    &:checked {
      & + #{$link}__label {
        &::after {
          color: #fff;
        }
      }
    }
  }

  &__label {
    position: relative;
    padding-left: 30px;

    &::before {
      position: absolute;
      left: 0;
      content: '';
      width: 20px;
      height: 18px;
      border-radius: 5px;
      background: #216aa3;
    }

    &::after {
      position: absolute;
      left: 4px;
      top: 0;
      content: '\2714';
      font-size: 14px;
      color: transparent;
    }
  }

  &__button {
    margin-bottom: 20px;
    padding: 15px 10px;
    border: none;
    width: 205px;
    background: #e8bfbf;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__result {
    font-weight: bold;
    font-size: 25px;
  }
}
