mixin question

  -
    let datas = [
      { 
        id: '1',
        question: 'Чем Вы любите заниматься в свободное время?',
        idA: 'A1',
        a: 'Занимаюсь чем-то творческим (рисую, играю на муз. инструментах, читаю и т.д.)',
        idB: 'B1',
        b: 'Каждый раз пробую что-то новое, неизведанное',
        idC: 'C1',
        c: 'Я слишком занят, у меня не бывает свободного времени',
        idD: 'D1',
        d: 'Играю в компьютерные игры'
      },
      {
        id: '2',
        question: 'Какой из предложенных книжных жанров вызывает у Вас наибольший интерес?',
        idA: 'A2',
        a: 'Фэнтези',
        idB: 'B2',
        b: 'Романы',
        idC: 'C2',
        c: 'Я не читаю книги',
        idD: 'D2',
        d: 'Приключения'
      },
      {
        id: '3',
        question: 'Что из предложенных вариантов Вас привлекает больше всего?',
        idA: 'A3',
        a: 'Делать дизайн интерфейса',
        idB: 'B3',
        b: 'Тестировать программы',
        idC: 'C3',
        c: 'Решать проблемы, держать все под своим контролем',
        idD: 'D3',
        d: 'Создавать новые алгоритмы'
      },
      {
        id: '4',
        question: 'Что, по Вашему мнению, необходимо для эффективной работы?',
        idA: 'A4',
        a: 'Постоянное развитие личности',
        idB: 'B4',
        b: 'Четкое выполнение заданий',
        idC: 'C4',
        c: 'Качественная оценка проделанной работы (мнение начальства)',
        idD: 'D4',
        d: 'Хорошее отношение в коллективе'
      },
      {
        id: '5',
        question: 'Какой вариант точнее всего описывает Вашу роль в компании друзей?',
        idA: 'A5',
        a: 'Тихоня',
        idB: 'B5',
        b: 'Самый первый соглашусь опробовать что-то новое',
        idC: 'C5',
        c: 'Считаю, что я самый главный, меня должны уважать',
        idD: 'D5',
        d: 'Главный по развлечениям'
      },
      {
        id: '6',
        question: 'Вы пришли в «Детский мир». Что купите в первую очередь?',
        idA: 'A6',
        a: 'Раскраска',
        idB: 'B6',
        b: 'Конструктор',
        idC: 'C6',
        c: 'Программируемая игрушка',
        idD: 'D6',
        d: 'Мозаика'
      },
      {
        id: '7',
        question: 'Какой школьный предмет Вам больше нравится?',
        idA: 'A7',
        a: 'Литература',
        idB: 'B7',
        b: 'Математика',
        idC: 'C7',
        c: 'История',
        idD: 'D7',
        d: 'Физика'
      },
      {
        id: '8',
        question: 'Вы оказались на огромном безлюдном острове. Каковы Ваши действия?',
        idA: 'A8',
        a: 'Построю себе шикарный дом, подружусь с местными живыми существами, вечерами буду любоваться закатом',
        idB: 'B8',
        b: 'Буду пробовать разные способы выживания',
        idC: 'C8',
        c: 'Все четко обдумаю, составлю план и буду действовать строго подготовленной инструкции',
        idD: 'D8',
        d: 'Начну войну с местными животными, чтобы повысить авторитет'
      },
      {
        id: '9',
        question: 'С помощью каких каналов Вам удобнее получать информацию?',
        idA: 'A9',
        a: 'Картинки, фото, графика',
        idB: 'B9',
        b: 'Цифры, таблицы, схемы',
        idC: 'C9',
        c: 'Текст, статьи',
        idD: 'D9',
        d: 'Видео'
      },
      {
        id: '10',
        question: 'Каким видом спорта Вы бы предпочли заниматься?',
        idA: 'A10',
        a: 'Спортивная гимнастика',
        idB: 'B10',
        b: 'Триатлон',
        idC: 'C10',
        c: 'Шахматы',
        idD: 'D10',
        d: 'Волейбол'
      },
      {
        id: '11',
        question: 'Идеальная работа – это деятельность, которая дает возможность…',
        idA: 'A11',
        a: 'Действовать нестандартно, находить новые методы и подходы',
        idB: 'B11',
        b: 'Анализировать информацию и принимать нестандартные решения',
        idC: 'C11',
        c: 'Сделать карьеру и повысить социальный статус',
        idD: 'D11',
        d: 'Много общаться и взаимодействовать с другими людьми'
      },
      {
        id: '12',
        question: 'Сталкиваясь с проблемой, Вы обычно..',
        idA: 'A12',
        a: 'Нахожу необычное решение (придумываю новый способ)',
        idB: 'B12',
        b: 'Структурно все проверяю и взвешиваю',
        idC: 'C12',
        c: 'Изучаю всю информацию и принимаю решение самостоятельно',
        idD: 'D12',
        d: 'Стараюсь выслушать всех и выбрать оптимальный вариант'
      },
      {
        id: '13',
        question: 'Если бы Вам пришлось выбрать лишь одну работу из предложенных вариантов, что бы Вы выбрали?',
        idA: 'A13',
        a: 'Производить архитектурно-восстановительные работы исторических мест',
        idB: 'B13',
        b: 'Проводить геологические изыскания, участвовать в экспедициях, посвященных изучению природных явлений',
        idC: 'C13',
        c: 'Контролировать и поддерживать правопорядок, следить за безопасностью жизни и здоровья людей',
        idD: 'D13',
        d: 'Игра на сцене, сниматься в кино, ставить трюки'
      },
      {
        id: '14',
        question: 'Какое утверждение больше относиться к Вам?',
        idA: 'A14',
        a: 'Люблю проводить время в тишине и покое наедине с собой',
        idB: 'B14',
        b: 'Люблю исследовать неизвестное',
        idC: 'C14',
        c: 'Весь день проходит по заранее подготовленному расписанию',
        idD: 'D14',
        d: 'Считаю, что нужно заниматься одним делом, но выполнять его на «ОТЛИЧНО»'
      },
      {
        id: '15',
        question: 'Продолжите «как бы было здорово…»',
        idA: 'A15',
        a: 'Придумывать и запускать рекламу',
        idB: 'B15',
        b: 'Знать иностранные языки и путешествовать по миру',
        idC: 'C15',
        c: 'Консультировать и помогать людям в решении их проблем',
        idD: 'D15',
        d: 'Создать что-то оригинальное'
      },
      {
        id: '16',
        question: 'За какой помощью к Вам обращаются люди?',
        idA: 'A16',
        a: 'Сделать или придумать что-то красивое',
        idB: 'B16',
        b: 'Найти нужную информацию, организовать мероприятие',
        idC: 'C16',
        c: 'Подсчитать, просчитать что-либо, спрогнозировать результат',
        idD: 'D16',
        d: 'Снять и отредактировать видео'
      },
      {
        id: '17',
        question: 'Ваши знакомые отмечают, что Вам присущи такие качества как',
        idA: 'A17',
        a: 'Творческий подход и воображение',
        idB: 'B17',
        b: 'Аналитическое мышление и математические способности',
        idC: 'C17',
        c: 'Дипломатичность, умение взаимодействовать с разными типами людей',
        idD: 'D17',
        d: 'Аккуратность, тщательность и скрупулезность'
      },
      {
        id: '18',
        question: 'Выберите те профессии, которые Вас больше всего заинтересовали (без учета уровня дохода)',
        idA: 'A18',
        a: 'Творческая специальность (музыкант, художник, фотограф, актер и т.д.)',
        idB: 'B18',
        b: 'Экономист, бухгалтер, аудитор',
        idC: 'C18',
        c: 'Консультант, психолог, педагог',
        idD: 'D18',
        d: 'Инженер, конструктор'
      },
      {
        id: '19',
        question: 'Для Вас важно, чтобы на работе была возможность',
        idA: 'A19',
        a: 'Проявлять фантазию и творческий подход',
        idB: 'B19',
        b: 'Общаться с клиентами',
        idC: 'C19',
        c: 'Создавать порядок, структурировать информацию и процессы',
        idD: 'D19',
        d: 'Четко понимать свои обязанности и возможность для развития'
      },
      {
        id: '20',
        question: 'Чем Вас привлекают информационные технологии?',
        idA: 'A20',
        a: 'Возможность создать что-то оригинальное',
        idB: 'B20',
        b: 'Множество путей решения одной проблемы',
        idC: 'C20',
        c: 'Постоянное развитие',
        idD: 'D20',
        d: 'Командная работа'
      }
    ];
  .question
    .container
      each data in datas
        .question__item
          span.question__title #{data.question}
          .question__option
            input.question__input(name='option-' + data.id, type='radio', data-option='A', id=data.idA)
            label.question__label(for=data.idA) #{data.a}
          .question__option
            input.question__input(name='option-' + data.id, type='radio', data-option='B', id=data.idB)
            label.question__label(for=data.idB) #{data.b}
          .question__option
            input.question__input(name='option-' + data.id, type='radio', data-option='C', id=data.idC)
            label.question__label(for= data.idC) #{data.c}
          .question__option
            input.question__input(name='option-' + data.id, type='radio', data-option='D', id=data.idD)
            label.question__label(for=data.idD) #{data.d}
      button.question__button(type='button') Результат!
      span.question__result
